@font-face {
  font-family: 'DMSans'; /* Custom name for the font */
  src: url('../fonts/DMSans-VariableFont_opszwght.ttf') format('truetype');
}

:root {
    --purple100: hsl(254, 88%, 90%);
    --purple500: hsl(256, 67%, 59%);
    --yellow100: hsl(31, 66%, 93%);
    --yellow500: hsl(39, 100%, 71%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 7%);
        
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'DMSans';
}

div {
  border-radius: 10px;
}



/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge, Opera) */
body::-webkit-scrollbar {
  display: none;  /* For Chrome, Safari, Edge, Opera */
}

/* typography */

.text-preset-1 {
  font-size: 62px;
  line-height: 93.5%;
  letter-spacing: -3px;
}

.text-preset-2 {
  font-size: 40px;
  line-height: 90%;
  letter-spacing: -2px;
  font-weight: 500;
}

.text-preset-3 {
  font-size: 32px;
  line-height: 87.5%;
  letter-spacing: -2px;
  font-weight: 500;
}

.text-preset-4 {
  font-size: 18px;
  line-height: 111%;
  letter-spacing: 0px;
}



.container {
  width: 1440px;
  height: 1000px;
  /* border: solid; */
  /* margin: 0 calc((100vw - 1440px)/2); */
}

.content {
  margin: max(10px, ((100vh - 886px)/2)) max(((100vw - 1125px)/2), 0px);
  /* border: salmon solid; */
  width: 1125px;
  height: 886px;
  display: grid;
  grid-template-rows: 415px 434px ;
  grid-template-columns: 256px 832px;
  grid-gap: 32px;
}

.item-1 {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  
  display: grid;
  grid-template-rows: 603px 246px;
  grid-template-columns: repeat(3, 256px);
  grid-gap: 32px;


}

.item-2 {
  background-color: var(--yellow100);
  grid-row: 1 / 2;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.item-3 {
  background-color: var(--yellow500);
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

/* item 1 css grid */

.item-1-1 {
  grid-row: 1 / 2;
  grid-column: 1 / 3;
  display: grid;
  grid-template-rows: 324px 247px;
  grid-template-columns: 256px 256px;
  grid-gap: 32px;
  
}
.item-1-2 {
  background-color: var(--purple100);
  grid-row: 1 / 2;
  grid-column: 3 / 4;
  
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.item-1-3 {
  background-color: var(--purple500);
  grid-row: 2 / 3;
  grid-column: 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-1-4 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
  /* justify-content: space-around; */
  align-items: center;
}


/* item-1-3 */

.item-1-3-a {
  width: 275px;
  height: 108px;
}
.item-1-4-a {
  margin-bottom: 30px;
}

.item-1-2-b {
  width: 192px;
  height: 80px;
}


/* item-1-1 css grid */

.item-1-1-1 {
  background-color: var(--purple500);
  grid-row: 1 / 2;
  grid-column: 1 / 3;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.item-1-1-2 {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

.item-1-1-3 {
  background-color: var(--yellow500);
  grid-row: 2 / 3;
  grid-column: 2 / 3;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
}

/* item1-1-1 css */

.item-1-1-1-a {
  text-align: center;
  width: 480px;
  font-weight: 500;
  color: var(--white);
}

.item-1-1-1-b {
  text-align: center;
  width: 221px;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.item-1-1-2-a {
  position: relative;
  left: 50px;
}
.item-1-1-2-b {
  width: 200px;
  height: 112px;
  font-weight: 500;
}

.item-1-1-3-a {
  width: 208px;
  height: 112px;
  margin: 30px 0 15px 0;
}


/* item-1-2 */ 

.item-1-2-a {
  width: 192px;
  height: 56px;
}

.item-1-2-c {
  position: relative;
  left: 70px;
  z-index: 0;

}


/* item-2-a */

.item-2-a {
  width: 192px;
  height: 144px;
}


/* item-3-a */

.item-3-a {
  width: 192px;
  height: 144px;
}

@media (max-width: 1124px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  .content {
    width: 688px;
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: 20px max(0px, (100vw - 688px)/2);
  }

  .item-1 {
    width: 688px;
    display: flex;
    flex-direction: column;
  }

  .item-2 {
    width: 328px;
    height: 354.5px;
  }
  
  .item-3 {
    width: 328px;
    height: 354.5px;
  }

  .item-1-1 {
    width: 688px;
    display: flex;
    flex-wrap: wrap;
  }
  .item-1-3 {
    display: flex;
    justify-content: space-around;
    height: 246px;
  }
  .item-1-4 {
    flex-direction: row;
    justify-content: space-around;
  }
  .item-1-4-a {
    position: relative;
    right: 40px;
  }
  .item-1-4 img {
    position: relative;
    left: 40px;
  }

  .item-1-1-1 {
    width: 688px;
    height: 324px;
  }

  .item-1-1-2 {
    width: 328px;
    justify-content: space-around;
    height: 247px;
  }

  .item-1-1-3 {
    width: 328px;
    height: 247px;
  }

  .item-1-2-a {
    width: 340px;
    margin-top: 30px;
  }
  .item-1-2-c {
    margin: 0px;
    left: 0px;
  }
  .item-1-2-b {
    width: 360px;
    text-align: center;
  }
  .item-1-1-2-a {
    left: 0;
  }
  .item-1-1-2-b, .item-1-1-3-a {
    width: 280px;
    height: 90px;
  }

  .item-3-a, .item-2-a {
    width: 280px;
    height: 100px;
  }

}